      <!-- Main Footer -->
      <footer class="main-footer">
        <strong>Copyright &copy; <span id="year"></span> by <a href="#">Admin of Website</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <a target="_blank" class="" href="#"><i class="fab fa-lg fa-twitter"></i></a>
            <a target="_blank" href="#"><i class="fab fa-lg ml-1 fa-facebook"></i></a>
            <a target="_blank" class="text-danger" href="#"><i class="fab fa-lg ml-1 fa-instagram"></i></a>
        </div>
      </footer>